In [1]:
import pandas as pd 
import numpy as np

In [2]:
df = pd.read_csv("links_estadao_proj_estigma.csv")
df.shape

(2017, 13)

In [4]:
df.columns

Index(['Ano', 'Links (ESQUIZOFRENIA)', 'Ano.1', 'Links (ESQUIZOFRÊNICO)',
       'Ano.2', 'Links (ESQUIZOFRÊNICA)', 'Ano.3', 'Links (ESQUIZOFRÊNICOS)',
       'Ano.4', 'Links (ESQUIZOFRÊNICAS)', 'Unnamed: 10', 'LINKS METAFÓRICOS',
       'LINKS NÃO METAFÓRICOS'],
      dtype='object')

In [6]:
df1 = df[['Ano', 'Links (ESQUIZOFRENIA)']].dropna()
df2 = df[['Ano.1', 'Links (ESQUIZOFRÊNICO)']].dropna()
df3 = df[['Ano.2', 'Links (ESQUIZOFRÊNICA)']].dropna()
df4 = df[['Ano.3', 'Links (ESQUIZOFRÊNICOS)']].dropna()
df5 = df[['Ano.4', 'Links (ESQUIZOFRÊNICAS)']].dropna()
df6 = df[['LINKS METAFÓRICOS','LINKS NÃO METAFÓRICOS']].dropna()

In [7]:
colunas = ["ano", "link"]
df1.columns = colunas
df2.columns = colunas
df3.columns = colunas
df4.columns = colunas
df5.columns = colunas
df6.columns = ["metaforicos", "nao_metaforicos"]

In [8]:
df_final = pd.concat([df1, df2, df3, df4, df5], axis = 0)
df_final.shape

(3457, 2)

In [10]:
df_final["ano"] = df_final["ano"].apply(int)

In [16]:
df_final[~df_final.link.str.contains("folha")]

      ano                                               link
766  2009  http://www.agora.com.br/saopaulo/ult10103u6278...
771  2009  http://www.agora.com.br/show/ult10111u619121.s...
772  2009  http://www.agora.com.br/show/ult10111u618547.s...
784  2009  http://www.agora.uol.com.br/show/ult10111u6016...
795  2009  http://www.agora.uol.com.br/defesadocidadao/ul...
..    ...                                                ...
257  2018  http://www.agora.uol.com.br/defesadocidadao/20...
18   2007                                  Não há ocorrência
40   2014                                  Não há ocorrência
42   2016  http://www.agora.uol.com.br/show/2016/04/17633...
43   2016  http://www.agora.uol.com.br/show/2016/04/17633...

[70 rows x 2 columns]

In [21]:
df_final_limpo = df_final[~df_final.link.str.contains("Não há ocorrência")]
df_final_limpo.head()

    ano                                               link
0  2001  http://www1.folha.uol.com.br/fsp/ilustrad/fq04...
1  2001  http://www1.folha.uol.com.br/folha/mundo/ult94...
2  2001  http://www1.folha.uol.com.br/fsp/ilustrad/fq10...
3  2001  http://www1.folha.uol.com.br/folha/ciencia/ult...
4  2001  http://www1.folha.uol.com.br/folha/ciencia/ult...

In [22]:
df_final_limpo.to_csv("links_folha_e_agora_sem_rotulos.csv", index = False)

In [23]:
3457 - 68

3389

In [26]:
df6_1 = pd.DataFrame()
df6_1["link"] = df6["metaforicos"]
df6_1["metaforico"] = 1

In [28]:
df6_2 = pd.DataFrame()
df6_2["link"] = df6["nao_metaforicos"]
df6_2["metaforico"] = 0

In [29]:
df6_completo = pd.concat([df6_1, df6_2], axis = 0)
df6_completo.shape

(70, 2)

In [31]:
df6_completo["indice_noticia"] = [x for x in range(df6_completo.shape[0])]

In [32]:
df6_completo.head()

,link,metaforico,indice_noticia
0,https://opiniao.estadao.com.br/noticias/artigo...,1,0
1,https://opiniao.estadao.com.br/noticias/artigo...,1,1
2,https://opiniao.estadao.com.br/noticias/espaco...,1,2
3,https://cultura.estadao.com.br/noticias/litera...,1,3
4,"https://cultura.estadao.com.br/noticias/geral,...",1,4

In [33]:
df6_completo.to_csv("links_estadao_rotulados.csv", index = False)