In [1]:
import pandas as pd 
import numpy as np

In [2]:
df = pd.read_csv("Folha e LEITOR ATÉ 08_2022.csv")
df.shape

(2135, 12)

In [3]:
df.columns

Index(['Unnamed: 0', 'Links (ESQUIZOFRENIA)', 'Ano', 'Links (ESQUIZOFRÊNICO)',
       'Ano.1', 'Links (ESQUIZOFRÊNICA)', 'Ano.2', 'Links (ESQUIZOFRÊNICOS)',
       'Ano.3', 'Links (ESQUIZOFRÊNICAS)', 'Unnamed: 10',
       'LISTA LINKS "PAINEL DO LEITOR" (2001-2022) - ESQUIZOFRENIA, ESQUIZOfrênico(a/os/as)'],
      dtype='object')

In [4]:
df.head()

,Unnamed: 0,Links (ESQUIZOFRENIA),Ano,Links (ESQUIZOFRÊNICO),Ano.1,Links (ESQUIZOFRÊNICA),Ano.2,Links (ESQUIZOFRÊNICOS),Ano.3,Links (ESQUIZOFRÊNICAS),Unnamed: 10,"LISTA LINKS ""PAINEL DO LEITOR"" (2001-2022) - ESQUIZOFRENIA, ESQUIZOfrênico(a/os/as)"
0,2001.0,http://www1.folha.uol.com.br/fsp/ilustrad/fq04...,2001.0,http://www1.folha.uol.com.br/folha/cotidiano/u...,2001.0,http://www1.folha.uol.com.br/fsp/opiniao/fz010...,2001.0,http://www1.folha.uol.com.br/folha/ilustrada/u...,2001.0,http://www1.folha.uol.com.br/fsp/turismo/fx180...,NaN,https://www1.folha.uol.com.br/paineldoleitor/2...
1,2001.0,http://www1.folha.uol.com.br/folha/mundo/ult94...,2001.0,http://www1.folha.uol.com.br/fsp/cotidian/ff30...,2001.0,http://www1.folha.uol.com.br/fsp/opiniao/fz191...,2001.0,http://www1.folha.uol.com.br/fsp/folhatee/fm16...,2002.0,http://www1.folha.uol.com.br/fsp/ilustrad/fq30...,NaN,https://www1.folha.uol.com.br/paineldoleitor/2...
2,2001.0,http://www1.folha.uol.com.br/fsp/ilustrad/fq10...,2001.0,http://www1.folha.uol.com.br/folha/reuters/ult...,2001.0,http://www1.folha.uol.com.br/fsp/ilustrad/fq17...,2001.0,http://www1.folha.uol.com.br/fsp/ciencia/fe151...,2002.0,http://www1.folha.uol.com.br/fsp/ilustrad/fq23...,NaN,https://www1.folha.uol.com.br/paineldoleitor/2...
3,2001.0,http://www1.folha.uol.com.br/folha/ciencia/ult...,2001.0,http://www1.folha.uol.com.br/folha/mundo/ult94...,2001.0,http://www1.folha.uol.com.br/fsp/opiniao/fz301...,2001.0,http://www1.folha.uol.com.br/folha/ciencia/ult...,2002.0,http://www1.folha.uol.com.br/folha/ciencia/ult...,NaN,https://www1.folha.uol.com.br/paineldoleitor/2...
4,2001.0,http://www1.folha.uol.com.br/folha/ciencia/ult...,2001.0,http://www1.folha.uol.com.br/folha/brasil/ult9...,2001.0,http://www1.folha.uol.com.br/fsp/ilustrad/fq24...,2001.0,http://www1.folha.uol.com.br/folha/ciencia/ult...,2003.0,http://www1.folha.uol.com.br/folha/bbc/ult272u...,NaN,http://www1.folha.uol.com.br/paineldoleitor/20...

In [5]:
df1 = df[['Unnamed: 0', 'Links (ESQUIZOFRENIA)']].dropna()
df2 = df[['Ano', 'Links (ESQUIZOFRÊNICO)']].dropna()
df3 = df[['Ano.1', 'Links (ESQUIZOFRÊNICA)']].dropna()
df4 = df[['Ano.2', 'Links (ESQUIZOFRÊNICOS)']].dropna()
df5 = df[['Ano.3', 'Links (ESQUIZOFRÊNICAS)']].dropna()

In [6]:
colunas = ["ano", "link"]
df1.columns = colunas
df2.columns = colunas
df3.columns = colunas
df4.columns = colunas
df5.columns = colunas

In [7]:
df_final = pd.concat([df1, df2, df3, df4, df5], axis = 0)
df_final.shape

(3624, 2)

In [8]:
df_final["ano"] = df_final["ano"].apply(int)

In [9]:
df_final[~df_final.link.str.contains("folha")]

      ano                                               link
766  2009  http://www.agora.com.br/saopaulo/ult10103u6278...
771  2009  http://www.agora.com.br/show/ult10111u619121.s...
772  2009  http://www.agora.com.br/show/ult10111u618547.s...
784  2009  http://www.agora.uol.com.br/show/ult10111u6016...
795  2009  http://www.agora.uol.com.br/defesadocidadao/ul...
..    ...                                                ...
257  2018  http://www.agora.uol.com.br/defesadocidadao/20...
18   2007                                  Não há ocorrência
40   2014                                  Não há ocorrência
42   2016  http://www.agora.uol.com.br/show/2016/04/17633...
43   2016  http://www.agora.uol.com.br/show/2016/04/17633...

[70 rows x 2 columns]

In [10]:
df_final_limpo = df_final[~df_final.link.str.contains("Não há ocorrência")].dropna()
df_final_limpo.head()

    ano                                               link
0  2001  http://www1.folha.uol.com.br/fsp/ilustrad/fq04...
1  2001  http://www1.folha.uol.com.br/folha/mundo/ult94...
2  2001  http://www1.folha.uol.com.br/fsp/ilustrad/fq10...
3  2001  http://www1.folha.uol.com.br/folha/ciencia/ult...
4  2001  http://www1.folha.uol.com.br/folha/ciencia/ult...

In [11]:
# df_final_limpo.to_csv("links_folha_sem_rotulos.csv", index = False)

In [13]:
df_final_limpo.query("ano == 2022")

       ano                                               link
2067  2022  https://www1.folha.uol.com.br/colunas/luciano-...
2068  2022  https://www1.folha.uol.com.br/ilustrada/2022/0...
2069  2022  https://www1.folha.uol.com.br/blogs/saude-em-p...
2070  2022  https://www1.folha.uol.com.br/equilibrio/2022/...
2071  2022  https://www1.folha.uol.com.br/cotidiano/2022/0...
...    ...                                                ...
385   2022  https://www1.folha.uol.com.br/ilustrada/2022/0...
274   2022  https://www1.folha.uol.com.br/colunas/luciano-...
275   2022  https://www1.folha.uol.com.br/colunas/luciano-...
276   2022  https://www1.folha.uol.com.br/equilibrio/2022/...
53    2022  https://www1.folha.uol.com.br/colunas/luciano-...

[93 rows x 2 columns]